venvs/
__pycache__/
*.pyc
*.pt

# --- C/C++ Build Files ---
*.exe
*.o
*.obj
*.dll
*.so
*.out

# --- C# / .NET Ignore Rules ---
# 빌드 결과물 (절대 올리지 말 것)
bin/
obj/

# 사용자 설정 파일 (내 컴퓨터 설정이므로 공유 X)
*.user
*.suo

# --- NuGet Packages (외부 라이브러리 무시) ---
packages/
*.nupkg

# --- Visual Studio 개인 설정 파일 무시 ---
DocumentLayout.json
DocumentLayout.backup.json
*.json
